<a href="https://colab.research.google.com/github/JoelJ77/nitda-blockchain-scholarship/blob/main/Data_types_and_operators_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exercise: Data types and operators

In this exercise, we'll get comfortable with using the different data types we've been introduced to as well as using the correct data types and operators to solve problems.

## Learning objectives

In this train, we will practise:
- How to declare variables, perform basic arithmetic operations, and print results using Python.
- String manipulation, type casting, and solving practical problems.

## Outline

1. [Exercises](#exercises)
    * [Exercise 1](#exercise-1)
    * [Exercise 2](#exercise-2)
    * [Exercise 3](#exercise-3)
    * [Exercise 4](#exercise-4)
    * [Comprehensive exercise](#comprehensive-exercise)
2. [Solutions](#solutions)
    * [Exercise 1](#exercise-1)
    * [Exercise 2](#exercise-2)
    * [Exercise 3](#exercise-3)
    * [Exercise 4](#exercise-4)
    * [Comprehensive exercise](#comprehensive-exercise)

## Exercises

### Exercise 1

Declare two variables, `num1` and `num2`, and assign them values of `15` and `7`, respectively. Calculate and store the result of their sum, difference, product, and division (as floating-point number), in separate variables. Print the newly created variables.

In [ ]:
# Your solution here...

### Exercise 2

Create two string variables, `first_name` and `last_name`, with your first and last names. Concatenate them to form a full name and assign it to a new variable `full_name`. Print the `full_name` in uppercase.

In [ ]:
# Your solution here...

### Exercise 3

You have a variable `num_of_books` storing the number of books you have read this month, but it's currently in the form of a string. Create a new variable `books_read` by casting `num_of_books` to an integer. Then calculate the average number of books read per week, assuming there are four weeks in a month.

In [ ]:
# Your solution here...

num_of_books = "15"

### Exercise 4

We have been given the following information about a person:

- Name: John Doe
- Age: 25
- Height: 1.75 metres
- Weight: 68.5 kilograms

Create variables of appropriate data types to store this information. Then calculate the Body Mass Index (BMI) using the formula:

$BMI = \frac{{\text{{Weight}}}}{{\text{{Height}}^2}}$

Print the result.

In [ ]:
# Your solution here...

### Comprehensive exercise

You are tasked with creating a program to manage inventory for a store. The program should have the following features:

1. Create variables to store the following information:
   - Product name (string)
   - Initial quantity in stock (integer)
   - Price per unit (float)
   - Discount percentage (float)

2. Perform the following operations:
   - Calculate the total value of the initial stock (quantity * price per unit).
   - Apply the discount to the total value and calculate the discounted value of stock.
   - Update the quantity in stock based on new stock received (assume a shipment of 30 units).

3. Display the results:
   - Print a summary message that includes the product name, initial quantity, price per unit, discount percentage, total value, discounted value, and the updated quantity in stock.

In [ ]:
# Given the variables
product_name = "Widget XYZ"
initial_quantity = 100
price_per_unit = 12.50
discount_percentage = 0.15

# Your solution here...

## Solutions

### Exercise 1

In [1]:
num1 = 15
num2 = 7

# Perform operations
sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
division_result = float(num1) / num2

# Print the variables
print("Sum: ", sum_result)
print("Difference: ", difference_result)
print("Product: ", product_result)
print("Division: ", division_result)

Sum:  22
Difference:  8
Product:  105
Division:  2.142857142857143

### Exercise 2

In [2]:
# Variable creation
first_name = "Jane"
last_name = "Doe"

# String manipulation and concatenation
full_name = first_name + " " + last_name

# Display result in uppercase
print("Full name in uppercase:", full_name.upper())

Full name in uppercase: JANE DOE

### Exercise 3

In [3]:
num_of_books = "15"

# Casting to integer
books_read = int(num_of_books)

# Calculate average books read per week
weeks_in_month = 4
average_books_per_week = books_read / weeks_in_month

# Print result
print("You have read an average of " + str(average_books_per_week) + " books per week.")

You have read an average of 3.75 books per week.

### Exercise 4

In [11]:
# Given information
name = "John Doe"
age = 25
height = 1.75  # in metres
weight = 68.5  # in kilograms

# Calculate BMI
bmi = weight / (height ** 2)

# Print result
print(str(name) + "\'s BMI is: "+ str(bmi))

John Doe's BMI is: 22.367346938775512

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>

### Comprehensive exercise

This comprehensive exercise integrates the creation of variables with different data types, mathematical operations, and string manipulation. It simulates a real-world scenario of managing inventory for a store and requires us to apply various concepts in a practical context.

In [13]:
# Given the variables
product_name = "Widget XYZ"
initial_quantity = 100
price_per_unit = 12.50
discount_percentage = 0.15

# Calculate total value of initial stock
total_value = initial_quantity * price_per_unit

# Apply discount and calculate discounted price
discounted_value = total_value - (total_value * discount_percentage)

# Update quantity based on new shipment
new_shipment = 30
updated_quantity = initial_quantity + new_shipment

# Display results
print("Product name:", product_name)
print("Initial quantity:", initial_quantity)
print("Price per unit: $", price_per_unit)
print("Discount percentage:", discount_percentage * 100, "%")

print("\n--- Results ---")
print("Total value of initial stock: $", total_value)
print("Discounted value: $", discounted_value)
print("Updated quantity in stock:", updated_quantity)

Product name: Widget XYZ
Initial quantity: 100
Price per unit: $ 12.5
Discount percentage: 15.0 %

--- Results ---
Total value of initial stock: $ 1250.0
Discounted value: $ 1062.5
Updated quantity in stock: 130