<a href="https://colab.research.google.com/github/JoelJ77/nitda-blockchain-scholarship/blob/main/Lists_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Examples.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Examples: Lists

In this notebook, we will look at how to create lists and some of the ways we can manipulate them.

## Learning objectives

By the end of this train, you should:

- Know how to create a regular list and a nested list.
- Understand the operations that can be performed on lists such as concatenation, copying, and sorting.
- Know how to use indexing to access elements and slice a list.
- Understand list characteristics such as mutability and duplicates.

## Examples

### 1. Initialise an empty list

An empty list is created by assigning empty square brackets, `[ ]`, to a variable.

In [ ]:
# Create an empty list called "mammals"
mammals = []
mammals

### 2. Create a list

A list can be explicitly created by **assigning a group of comma-separated values** enclosed within **square brackets** to a variable.

In [ ]:
# Create a list, defined within square brackets
mammals = ["Lion", "Elephant", "Dolphin"]
mammals

['Lion', 'Elephant', 'Dolphin']

We can also use the `list()` constructor to create a list from an iterable, such as a tuple.

In [ ]:
# Create a list from a tuple using the list constructor
birds = list(("Eagle", "Penguin", "Parrot"))
birds

['Eagle', 'Penguin', 'Parrot']

### 3. Range() function

We can use the `range()` function to **generate a sequence of numbers** based on a given start and end point.

> Syntax: `range(start, stop, step)`

- **start:** An integer number specifying the start point (**included**).
- **stop:** An integer number specifying the end point (**not included**).
- **step:** An integer number specifying the incrementation. The default is 1.

We then pass the result of the range function to the `list()` constructor to convert it to a list.

In [ ]:
# Generate a sequence of numbers starting from 0 to 4
range_list = list(range(0,5))
range_list

[0, 1, 2, 3, 4]

### 4. Print a list

To view the contents of a list, we can pass the list variable name to the `print()` function.

In [ ]:
# Print the contents of the variables, birds and range_list
print(birds)
print(range_list)

['Eagle', 'Penguin', 'Parrot']
[0, 1, 2, 3, 4]

### 5. List type

To verify that our variable is a `list`, we can pass the variable name to the `type()` function.

In [ ]:
# Check the type of the variable
type(birds)

list

The output `list` confirms that we have created a list.

### 6. Concatenating lists

We can concatenate two lists using the `+` operator. This creates a new list containing elements from both lists.

In [ ]:
# Combine the mammals and birds lists
animals_combined = mammals + birds
print(animals_combined)

['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']

### 7. Copying a list

A copy of a list can be created using the `copy()` method. This is useful when we want to modify a copy of a list while keeping the original unchanged.

In [ ]:
# Create a copy of the mammals list
mammals_copy = mammals.copy()

print(mammals, mammals_copy)

['Lion', 'Elephant', 'Dolphin'] ['Lion', 'Elephant', 'Dolphin']

### 8. Nested lists

Nested lists occur when we have a **list containing another list or lists** as its element(s). They are useful when working with structured data.

We can create a nested list by assigning two or more list variable names, separated by commas, to a variable.

In [ ]:
# Create a nested list containing the mammals and birds lists within it
animals_grouped = [mammals, birds]
print(animals_grouped)

Alternatively, we can create a nested list by using lists directly in the variable definition.

In [ ]:
# Create a nested list containing the mammals and birds lists within it
animals_grouped = [['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
print(animals_grouped)

[['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]

### 9. Indexing

Since lists are ordered, each element is **assigned an index** that corresponds to its position, starting with index 0.

Therefore, the index of an item is **equal to its position in the list, less one**. For example, the **4th element** will have the index `3`.

#### a) `index()` method

We can use the `index()` method to return the index of a specified value.

In [ ]:
# Return the index of the "Eagle" element from the birds list
first_index = birds.index("Eagle")
print(first_index)

0

**Note:** If the specified value appears multiple times in the list, the `index()` function will return the index of the **first occurrence** of that value.

#### b) Access elements in a simple list

We can use the index notation to access a specific element using its index.

> **Syntax:** `list[index]`

For instance, if we want to **access the 2nd element** in the list, we will **pass the index** `1` to the notation. The value at index 1 is returned.

In [ ]:
# Return the element at index 1 from birds
second_item = birds[1]
print(second_item)

Penguin

#### c) Access elements in a nested list

When it comes to nested lists, we can either access an entire inner list or a specific element within an inner list.

To **access an entire inner list**, we use the index corresponding to the list's position within the nested list.

In [ ]:
# Return the inner list at index 0
animals_grouped = [['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
mammals = animals_grouped[0]
print(mammals)

['Lion', 'Elephant', 'Dolphin']

To **access a specific element within an inner list**, we use multiple indices, each corresponding to a level of nesting.

In [ ]:
# Return the element at index 1 from the inner list at index 0
animals_grouped = [['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
second_mammal = animals_grouped[0][1]
print(second_mammal)

Elephant

### 10. Slicing

We use slicing when we wish to **return a sequence of values** from a list instead of just a single value.

> **Syntax:** `list[start:end]`

- **start:** The index from which the slicing begins (included).
- **end:** The index at which the slicing ends (not included).

For instance, if we want to slice from the **3rd** to the **5th element**, the start index will be `2` (to be included), and the end index will be `5` (not to be included).

In [ ]:
# Slice animals_combined from index 2 to index 4
animals_combined = ['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']
sliced_list = animals_combined[2:5]
print(sliced_list)

['Dolphin', 'Eagle', 'Penguin']

### 11. Duplicates

Since lists are ordered and indexed, they **allow duplicate elements**.

In [ ]:
# Duplicate the mammals list
mammals_duplicated = mammals + mammals
print(mammals_duplicated)

['Lion', 'Elephant', 'Dolphin', 'Lion', 'Elephant', 'Dolphin']

### 12. Modification

Lists are also mutable allowing us to **add, remove, or modify** elements in an existing list.

#### a) Adding elements:

- `append()`: This adds the element passed into it **as a single element** to the end of the list.
- `extend()`: This adds elements passed into it **as separate elements** to the end of the list.
- `insert()`: This inserts an element at a specified position.

In [32]:
mammals_copy = mammals.copy()

# Add a list element to mammals_copy
mammals_copy.append(["Cat", "Dog"])
print(mammals_copy)

# Add individual elements to mammals_copy
mammals_copy.extend(["Bear", "Horse"])
print(mammals_copy)

# Add an element to mammals_copy at index 3
mammals_copy.insert(3, "Tiger")
print(mammals_copy)

['Lion', 'Elephant', 'Dolphin', ['Cat', 'Dog']]
['Lion', 'Elephant', 'Dolphin', ['Cat', 'Dog'], 'Bear', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger', ['Cat', 'Dog'], 'Bear', 'Horse']

#### b) Removing elements:

- `del()`: This deletes an element or multiple elements from the list at the specified index value/s.
- `remove()`: This removes the first occurrence of a specified value from the list.
- `pop()`: This removes and returns the element at the specified index.

In [33]:
print(mammals_copy)

# Remove the elements at index 4 and 5 from mammals_copy
del mammals_copy[4:6]
print(mammals_copy)

# Remove the element "Horse" from mammals_copy
if "Horse" in mammals_copy:
    mammals_copy.remove("Horse")
print(mammals_copy)

# Remove and return the element at index 2 from mammals_copy
third_mammal = mammals_copy.pop(2)
print(third_mammal)
print(mammals_copy)

['Lion', 'Elephant', 'Dolphin', 'Tiger', ['Cat', 'Dog'], 'Bear', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger', 'Horse']
['Lion', 'Elephant', 'Dolphin', 'Tiger']
Dolphin
['Lion', 'Elephant', 'Tiger']

#### c) Modifying elements:

We can change the value of an element at a given index:

In [34]:
# Modify element at index 1
mammals_copy[1] = "Cheetah"
print(mammals_copy)

['Lion', 'Cheetah', 'Tiger']

### 13. Check membership

We can check for the presence of an element in a list using the `in` keyword. If present, `True` is returned.

In [35]:
# Checking if the element "Tiger" is in the birds list
"Lion" in birds

False

In [36]:
# Checking if the element "Tiger" is in the mammals list
"Lion" in mammals

True

### 14. Ordering a list

We can sort the elements in a list using two primary methods:

#### a) `sort()`

This sorts the list in ascending order **in place**.

**Note:** To sort the list in descending order, we can specify the **reverse parameter** as `True`.

In [37]:
# Sort the elements in mammals_copy in ascending order, in place
mammals_copy.sort()
print(mammals_copy)

# Sort the elements in mammals_copy in descending order, in place
mammals_copy.sort(reverse=True)
print(mammals_copy)

['Cheetah', 'Lion', 'Tiger']
['Tiger', 'Lion', 'Cheetah']

#### b) `sorted()`

This returns a **new sorted list** without modifying the original one.

**Note:** To sort the list in descending order, we can specify the **reverse parameter** to `True`.

In [38]:
print(animals_combined)

# Create a new list containing the elements in animals_combined sorted in descending order
animals_sorted = sorted(animals_combined, reverse = True)
print(animals_sorted)

['Lion', 'Elephant', 'Dolphin', 'Eagle', 'Penguin', 'Parrot']
['Penguin', 'Parrot', 'Lion', 'Elephant', 'Eagle', 'Dolphin']

### 15. Boolean methods

#### a) `any()`

Returns `True` if at least one element in the list evaluates to `True`.

**Note:** Values that evaluate to true include **non-zero numbers**, **non-empty sequences**, and the **boolean value `True`**.

In [39]:
# Check if at least one element in the list is True
boolean_list = [False, True]
any(boolean_list)

True

#### b) `all()`

Returns `True` if all the elements in the list are `True`.

In [40]:
# Check if all the elements in the list are True
all(boolean_list)

False

### 16. Other list methods

There are some built-in methods we can use when working with lists.

#### a) `len()`

We use the `len()` function to determine how many elements a list has.

In [41]:
print(animals_grouped)

# Return the number of elements (inner lists) in animals_grouped
length_of_list = len(animals_grouped)
print(f"No. of animal groups: {length_of_list}")

[['Lion', 'Elephant', 'Dolphin'], ['Eagle', 'Penguin', 'Parrot']]
No. of animal groups: 2

#### b) `count()`

We use `count()` to count the occurrences of a particular element.

In [42]:
birds = list(("Eagle", "Penguin", "Parrot"))

# Count the occurrence of the value "Parrot" in birds
count_parrot = birds.count("Parrot")
print(count_parrot)

1

## Summary

We have looked at some ways of creating lists and manipulating them. Take time to explore other methods and operations that can be performed on lists.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>