<a href="https://colab.research.google.com/github/JoelJ77/nitda-blockchain-scholarship/blob/main/Sets_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exercise: Sets

In this notebook, we'll be looking at exercises involving sets and how we manipulate these data structures.

## Learning objectives

- Convert a list to a set and explore key differences.
- Understand the core characteristics of sets: unique elements, non-indexed values.
- Learn how to test membership in a set.

## Exercises

### Exercise 1

1) Our forest rehabilitation centre contains various trees. To make sure we have all the species covered, we have to determine which unique trees we have already planted.
- Convert the provided `tree_list` to a set, `tree_set`.
- Confirm that our new variable is a set.
- Print the original variable, as well as our new variable. What can we notice about the order of elements?

In [4]:
# creating a list
tree_list = ['Tamboti', 'Baobab', 'Umbrella thorn', 'Yellowwood', 'Fever Tree', 'Moringa',
             'Marula', 'Waterpear','Baobab', 'Fountain Tree', 'Papaya Tree', 'Indian Laurel', 'Moringa']

# insert your code here
tree_list = set(['Tamboti', 'Baobab', 'Umbrella thorn', 'Yellowwood', 'Fever Tree', 'Moringa',
             'Marula', 'Waterpear','Baobab', 'Fountain Tree', 'Papaya Tree', 'Indian Laurel', 'Moringa'])
type(tree_list)

set

<br>

2. Compare the **number** of elements in `tree_list` to `tree_set`. Print the number of elements in each.

In [ ]:
# insert your code here

<br>

### Exercise 2

1. A conservationist recently spent two days in a national park in South Africa and was writing down tree types in a notebook. Each of the days was captured separately and we need to **create two variables** for these trees using sets: `day_1_trees` and `day_2_trees`.

Day 1 captured the following tree types: <br>
Baobab,
Buffalo Thorn,
Bushwillow,
Jackalberry,
Knob Thorn,
Lala Palm,
Marula Tree,
Umbrella Thorn,
Weeping Boer Bean,
Sausage Tree.

Day 2 captured the following tree types:<br>
Mopane Tree,
Bushwillow,
Knob Thorn,
Jackalberry,
Nara Plant,
Wild Date Palm,
Natal Mahogany,
Tamboti,
Leadwood,
Bushwillow.

In [ ]:
# insert your code here

One of the benefits of using **sets** is that there are built-in methods that can be used on them. The following commands:
- `union`
- `intersection`
- `difference` <br>
are especially useful when presented with sets we'd like to compare and manipulate based on their elements.
<br>

2. Using the commands above, we have been tasked to do the following:
- Create a set called `union_result` that combines `day_1_trees` and `day_2_trees`.
- Create a set called `both_days` that returns trees that were seen on both day 1 and day 2, so are in both `day_1_trees` and `day_2_trees`.
- Create a set that contains the trees that are in the `day_2_trees` set, **but not in** `day_1_trees`.
- Create a set called `one_set_result` that contains trees found in one of these sets only.

Hint: Take a look at the Python documentation if you're not sure where to start.

In [ ]:
# insert your code here

<br>

3. Determine whether the `both_days` set is a subset of `day_1_trees`.

Hint: If you haven't come across the command for this yet, try hitting the `tab` key to search for the relevant command or look it up in the Python documentation.

In [ ]:
# insert your code here

<br>

4. Determine whether all of the elements in the following variable, `hardwood_trees`, are contained in `day_2_trees`. Ideally, we'd like to run a single command to test this.

In [ ]:
hardwood_trees = {'Yellowwood', 'Leadwood', 'Blackwood'}

# insert your code here

<br>

## Solutions

### Exercise 1

1) Our forest rehabilitation centre contains various trees. To make sure we have all the species covered, we have to determine which unique trees we have already planted.
- Convert the provided `tree_list` to a set, `tree_set`.
- Confirm that our new variable is a set.
- Print the original variable, as well as our new variable. What can we notice about the order of elements?

In [5]:
# creating a list
tree_list = ['Tamboti', 'Baobab', 'Umbrella thorn', 'Yellowwood', 'Fever Tree', 'Moringa',
             'Marula', 'Waterpear', 'Baobab', 'Fountain Tree', 'Papaya Tree', 'Indian Laurel', 'Moringa']

# insert your code here
tree_set = set(tree_list)   # convert list to set

print(type(tree_set))  # use type() to check that our new variable is a set
print('tree_list = ', tree_list)
print('tree_set = ', tree_set)

<class 'set'>
tree_list =  ['Tamboti', 'Baobab', 'Umbrella thorn', 'Yellowwood', 'Fever Tree', 'Moringa', 'Marula', 'Waterpear', 'Baobab', 'Fountain Tree', 'Papaya Tree', 'Indian Laurel', 'Moringa']
tree_set =  {'Umbrella thorn', 'Waterpear', 'Fountain Tree', 'Yellowwood', 'Fever Tree', 'Moringa', 'Marula', 'Baobab', 'Tamboti', 'Papaya Tree', 'Indian Laurel'}

We can easily convert a **list** to a **set** by using the `set()` function, as it was built for converting **any iterable** to a set. Using the `type()` function, we confirm that our new variable is a set.

By printing the original `tree_list` and new `tree_set` variables, we can see that the syntax differs – the list is printed with square brackets `[]`, while the set is printed with curly ones `{}`.

In addition, we can see that the `tree_set` appears **shorter** than the `tree_list`. This is due to the fact that sets have **unique elements**, whereas lists can contain **duplicate elements**. A last aspect to note is that the elements in the `tree_set` have been reordered when compared to the `tree_list` variable.  This is an illustration of the effect of indexing – **lists are indexed and retain their order**, whereas **sets have no index associated with the elements**.

<br>

2. Compare the **number** of elements in `tree_list` to `tree_set`. Print the number of elements in each.

In [6]:
# insert your code here
list_elements = len(tree_list)
set_elements = len(tree_set)

print('Number in list: ',list_elements)
print('Number in set: ',set_elements)

Number in list:  13
Number in set:  11

We can see that even though we did not manually remove any of the elements in the list before creating the set, these data structures have different lengths. When we converted the list to a set, Python automatically removed the duplicate elements in the data for us, as all elements in a set have to be unique.

<br>

### Exercise 2

1. A conservationist recently spent two days in a national park in South Africa and was writing down tree types in a notebook. Each of the days was captured separately and we need to create two variables for these trees using sets: `day_1_trees` and `day_2_trees`.

Day 1 captured the following tree types: <br>
Baobab,
Buffalo Thorn,
Bushwillow,
Jackalberry,
Knob Thorn,
Lala Palm,
Marula Tree,
Umbrella Thorn,
Weeping Boer Bean,
Sausage Tree.

Day 2 captured the following tree types:<br>
Mopane Tree,
Bushwillow,
Knob Thorn,
Jackalberry,
Nara Plant,
Wild Date Palm,
Natal Mahogany,
Tamboti,
Leadwood,
Bushwillow.

In [ ]:
# insert your code here
# create day_1_trees
day_1_trees = {"Baobab",
    "Buffalo Thorn",
    "Bushwillow",
    "Jackalberry",
    "Knob Thorn",
    "Lala Palm",
    "Marula Tree",
    "Umbrella Thorn",
    "Weeping Boer Bean",
    "Sausage Tree"}

# create day_2_trees
day_2_trees = {"Mopane Tree",
    "Bushwillow",
    "Knob Thorn",
    "Jackalberry",
    "Nara Plant",
    "Wild Date Palm",
    "Natal Mahogany",
    "Tamboti",
    "Leadwood",
    "Bushwillow"}

When creating sets, it is important to remember that all strings need to be in quotation marks, while the set itself is constructed using curly brackets, `{}`.

One of the benefits of using **sets** is that there are built-in methods that can be used on them. The following commands:
- `union`
- `intersection`
- `difference` <br>
are especially useful when presented with sets we'd like to compare and manipulate based on their elements.
<br>

2. Using the commands above, we have been tasked to do the following:
- Create a set called `union_result` that combines `day_1_trees` and `day_2_trees`.
- Create a set called `both_days` that returns trees that were seen on both day 1 and day 2, so are in both `day_1_trees` and `day_2_trees`.
- Create a set that contains the trees that are in the `day_2_trees` set, **but not in** `day_1_trees`.
- Create a set called `one_set_result` that contains trees found in one of these sets only.

Hint: Take a look at the Python documentation if you're not sure where to start.

In [9]:
# create day_1_trees
day_1_trees = {"Baobab",
    "Buffalo Thorn",
    "Bushwillow",
    "Jackalberry",
    "Knob Thorn",
    "Lala Palm",
    "Marula Tree",
    "Umbrella Thorn",
    "Weeping Boer Bean",
    "Sausage Tree"}

# create day_2_trees
day_2_trees = {"Mopane Tree",
    "Bushwillow",
    "Knob Thorn",
    "Jackalberry",
    "Nara Plant",
    "Wild Date Palm",
    "Natal Mahogany",
    "Tamboti",
    "Leadwood",
    "Bushwillow"}

# insert your code here
# Union
union_result = day_1_trees.union(day_2_trees)
print("Union:", union_result)

# Intersection
both_days = day_1_trees.intersection(day_2_trees)
print("Intersection:", both_days)

# Difference
difference_result = day_2_trees.difference(day_1_trees)
print("Difference:", difference_result)

# One set only
one_set_result = day_2_trees.difference(day_1_trees).union(day_1_trees.difference(day_2_trees))
print('One set only:',one_set_result)

Union: {'Nara Plant', 'Sausage Tree', 'Knob Thorn', 'Weeping Boer Bean', 'Leadwood', 'Lala Palm', 'Tamboti', 'Mopane Tree', 'Umbrella Thorn', 'Jackalberry', 'Natal Mahogany', 'Buffalo Thorn', 'Baobab', 'Wild Date Palm', 'Marula Tree', 'Bushwillow'}
Intersection: {'Knob Thorn', 'Jackalberry', 'Bushwillow'}
Difference: {'Nara Plant', 'Natal Mahogany', 'Leadwood', 'Wild Date Palm', 'Tamboti', 'Mopane Tree'}
One set only: {'Nara Plant', 'Sausage Tree', 'Natal Mahogany', 'Leadwood', 'Weeping Boer Bean', 'Buffalo Thorn', 'Wild Date Palm', 'Baobab', 'Tamboti', 'Lala Palm', 'Marula Tree', 'Mopane Tree', 'Umbrella Thorn'}

We can see that we can create almost any combination of the elements of the sets by using these methods. Note that we should also be able to create the same `one_set_result` variable by making use of the `union_result` and the `intersection_result` using the `difference` method.

<br>

3. Determine whether the `both_days` set is a subset of `day_1_trees`.

Hint: If you haven't come across the command for this yet, try hitting the `tab` key to search for the relevant command or look it up in the Python documentation.

In [10]:
intersection_test = both_days.issubset(day_1_trees)
print(intersection_test)

True

<br>

4. Determine whether all of the elements in the following variable, `hardwood_trees`, are contained in `day_2_trees`. Ideally, we'd like to run a single command to test this.

In [11]:
hardwood_trees = {'Yellowwood', 'Leadwood', 'Blackwood'}

# insert your code here
hardwood_trees.issubset(day_2_trees)

False

If your answer is `False`, you probably made use of the `issubset` command.

It is important to note that **this is not the only way of answering the question**, and as we continue to progress through this course, more solutions will become available to us as we build our knowledge.

We could also have made use of the **membership operator** `in`, but we would've had to run the command once for each of the trees and then combine the results in order to determine whether our `hardwood_trees` are in the `day_2_trees` set, which is cumbersome.

In [12]:
yellowwood_in_2 = 'Yellowwood' in day_2_trees
leadwood_in_2 = 'Leadwood' in day_2_trees
blackwood_in_2 = 'Blackwood' in day_2_trees
(yellowwood_in_2 == True and leadwood_in_2 == True and blackwood_in_2 == True)

False

Using the membership operator `in` to check whether the `hardwood_trees` set is in day_2_trees would not work, as it would be comparing the set of trees to a single tree element in the `day_2_trees` set.

<br>

## Summary

In this notebook, we looked at creating a set from a list, investigated key differences between lists and sets, and applied built-in set methods to manipulate sets.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>