<a href="https://colab.research.google.com/github/JoelJ77/nitda-blockchain-scholarship/blob/main/Tuples_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Examples.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Examples: Tuples

In this notebook, we will look at how to create tuples and some of the ways we can manipulate them.

## Learning objectives

By the end of this train, you should be able to:
- Know how to create a tuple and confirm its type.
- Know how to use indexing to access elements and slice a tuple.
- Understand some tuple characteristics such as immutability and duplicates.
- Understand some operations that can be performed on tuples such as concatenation and unpacking.

## Examples

### 1. Create a tuple

A tuple is created by **assigning a group of comma-separated values** enclosed within **round brackets** to a variable.

In [ ]:
# Create a tuple, defined within round brackets
animal_tuple = ("Yellow anaconda", "Reptile", 30.5, 20)
print(animal_tuple)

('Yellow anaconda', 'Reptile', 30.5, 20)

**NOTE:** If elements are separated by a comma, but without the parentheses, it will still be treated as a tuple.

We can also use the `tuple constructor` to create a tuple from other iterables, such as lists.

In [ ]:
# Create a tuple from a list using the tuple constructor
animal_tuple = tuple(["Yellow anaconda", "Reptile", 30.5, 20])
print(animal_tuple)

('Yellow anaconda', 'Reptile', 30.5, 20)

### 2. Print a tuple

To view the contents of a tuple, we can pass the tuple variable name to the `print()` function.

In [ ]:
# Print the contents of the variable animal_tuple
print(animal_tuple)

('Yellow anaconda', 'Reptile', 30.5, 20)

### 3. Tuple type

To verify that our variable is a `tuple`, we can pass the variable name to the `type()` function.

In [ ]:
# Check the type of the variable animal_tuple
type(animal_tuple)

tuple

The output `tuple` confirms that we have created a tuple.

### 4. Indexing

Since tuples are ordered, each element is assigned an index that corresponds to its position, starting with index `0`.

Therefore, the index of an item is **equal to its position in the tuple, less one**. For example, **the 4th element will have the index `3`**.

We can use the `index()` method to return the index of a specified value.

In [ ]:
# Return the index of the "Yellow anaconda" element from animal_tuple
first_index = animal_tuple.index("Yellow anaconda")
print(first_index)

0

We can use the index notation to access a specific element using its index.

> **Syntax:** `tuple[index]`

For instance, if we want to access the **3rd element** in the tuple, we will **pass the index `2`** to the notation. The value at index `2` is returned.

In [ ]:
# Return the element at index 2 from animal_tuple
third_item = animal_tuple[2]
print(third_item)

30.5

### 5. Slicing

We use slicing when we wish to **return a portion of a tuple** instead of just a single value.

> **Syntax:** `tuple[start:end]`

- **start:** The index from which the slicing begins (included).
- **stop:** The index at which the slicing ends (**not** included).

For instance, if we want to slice from the 2nd to the 4th element, the start index will be `1` (to be included), and the stop index will be `4` (not to be included).

In [ ]:
# Slice animal_tuple from index 1 to index 3
sliced_tuple = animal_tuple[1:4]
print(sliced_tuple)

('Reptile', 30.5, 20)

### 6. Modification

Tuples are immutable, meaning we **cannot change, add, or remove** items from a tuple once it has been created. We would have to **create a new tuple** with the desired changes.

Letâ€™s see what happens when we attempt to modify a particular element in the tuple.

In [ ]:
# Change the element at index 0 from animal_tuple
animal_tuple[0] = "lion"

TypeError: 'tuple' object does not support item assignment

This **raises an error**, showing that tuple elements cannot be modified.

### 7. Concatenation

We can add elements to an existing tuple by appending another tuple to it.

We use the `+` operator to perform the concatenation.

In [ ]:
# Append a new tuple at the end of animal_tuple
animal_tuple_new = animal_tuple + ("Swamp", False)
print(animal_tuple_new)

('Yellow anaconda', 'Reptile', 30.5, 20, 'Swamp', False)

### 8. Duplicates

Since tuples are ordered, they **allow duplicates** as they can be differentiated by their index.

In [ ]:
# Append a duplicated value at the end of animal_tuple_new
animal_tuple_new = animal_tuple_new + (False,)
print(animal_tuple_new)

('Yellow anaconda', 'Reptile', 30.5, 20, 'Swamp', False, False, False, False)

**Note:** To create a tuple with a single item, we need to include a **trailing comma** after the item for it to be interpreted as a tuple as we've done above.

### 9. Other tuple methods

There are some built-in methods we can use when working with tuples.

#### a) `len( )`

We use the `len()` function to determine how many elements a tuple has.

In [15]:
# Return the number of elements in animal_tuple_new
length_of_tuple = len(animal_tuple_new)
print(f"No. of attributes: {length_of_tuple}")

No. of attributes: 9

#### b) `count()`

We use `count()` to count the occurrences of a particular element.

In [16]:
# Count the occurrence of the value False in animal_tuple_new
count_false = animal_tuple_new.count(False)
print(count_false)

4

### 10. Tuple unpacking

Tuple unpacking refers to the assignment of **tuple elements to individual variables** that can be used separately.

In [17]:
# Assign each element in animal_tuple to individual variables
animal_tuple = ("Yellow anaconda", "Reptile", 30.5, 20)

name, group, av_weight, av_lifespan = animal_tuple
print(f"Name: {name}")
print(f"Group: {group}")

Name: Yellow anaconda
Group: Reptile

## Summary

We have looked at some ways of creating tuples and manipulating them. Take time to explore other methods and operations that can be performed on tuples.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>