<a href="https://colab.research.google.com/github/JoelJ77/nitda-blockchain-scholarship/blob/main/Tuples_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exercise: Tuples

In this exercise, we are going to solve problems involving tuples.

## Learning objectives

- Create, concatenate, and slice tuples.
- Make use of tuple methods.
- Unpack a tuple.

## Exercises

### Exercise 1

1. Create a tuple named `tree_tuple` containing three elements: `8`, `'apple'`, and `'Granny Smith'`.

In [3]:
# insert your code here
tree_tuple = ('8', 'apple', 'Granny Smith',)
# to see the tuples
print(tree_tuple)

#type of tuple
type(tree_tuple)

('8', 'apple', 'Granny Smith')

tuple

Note: We can use the `type()` function to check that `tree_tuple` is, in fact, a tuple.

<br>

2. Find the length of the tuple.

In [8]:
# insert your code here
length_of_tuple = len(tree_tuple)
print(tuple_length)

3

<br>

3. Access the second element, `'apple'`, in the `tree_tuple` using an index and assign the value to a variable called `fruit`. Print the variable.

In [12]:
# insert your code here

fruit = tree_tuple[1]
print(fruit)

apple

<br>

4. Attempt to change the value of `'apple'` in `tree_tuple` to `'pear'` using assignment.

In [ ]:
# insert your code here

 If you got an error, it's exactly what should happen! **Tuples are immutable** and we cannot alter their contents after creation.

<br>

5. Create a new tuple called `text_only` and place the last two elements of `tree_tuple` into it.

In [20]:
# insert your code here

text_only = tree_tuple[1:3]
print(text_only)

('apple', 'Granny Smith')

<br>

### Exercise 2

1. Create two tuples: `fruit_summer` and `fruit_winter`, with elements (`'peach'`, `'apricot'`, `'plum'`) and (`'lemon'`, `'orange'`, `'grapefruit'`), respectively. Print the tuples to screen in the same print statement.

In [23]:
# insert your code here

fruit_summer = ('peach', 'apricot', 'plum')
fruit_winter = ('lemon', 'orange', 'grapefruit')
print(fruit_summer,fruit_winter)

('peach', 'apricot', 'plum') ('lemon', 'orange', 'grapefruit')

<br>

2. Combine these following two tuples, `fruit_summer` and `fruit_winter`, to form a new tuple, `all_fruit`. Print the new tuple to the screen.

In [25]:
# insert your code here

all_fruit = fruit_summer + fruit_winter
print(all_fruit)

('peach', 'apricot', 'plum', 'lemon', 'orange', 'grapefruit')

<br>

3. Confirm how many times the element `'peach'` appears in `all_fruit`.

In [27]:
# insert your code here
all_fruit.count('peach')

1

<br>

4. Suppose we have the `combined_info` tuple shown in the block of code below, containing three elements – the colour of the fruit, the age of the tree, and the type of tree. We'd however like to work with these elements individually and need to create variables (colour, age, tree_type) for each of the elements in the tuple.

In [35]:
# combined_info tuple
combined_info = ('yellow', 5, 'lemon')

# insert your code here
colour, age, tree_type = combined_info
print(colour, age, tree_type)

yellow 5 lemon

Did you use an index to assign the values to variables? If so, also take a look at the solution provided later in this notebook for a fast way of assigning tuple elements to variables!

<br>

## Solutions

### Exercise 1

1. Create a tuple named `tree_tuple` containing three elements: `8`, `'apple'`, and `'Granny Smith'`.

In order to create our tuple, we enclose the elements in **round brackets ()** and assign it to our variable.

In [37]:
# assign value to the tree_tuple
tree_tuple = (8, 'apple', 'Granny Smith')

# see what it looks like printed
print(tree_tuple)

(8, 'apple', 'Granny Smith')

In [38]:
# confirm that we have created a tuple using the `type()` function
type(tree_tuple)

tuple

<br>

2. Find the length of the tuple.

We can use one of the built-in functions Python provides, `len()`, to determine the number of elements in the tuple.

In [39]:
len(tree_tuple)

3

<br>

3. Access the second element, `'apple'`, in the `tree_tuple` using an index and assign the value to a variable called `fruit`. Print the variable.

The index for a tuple starts at 0, meaning that in order to access the 2nd element, we should refer to position 1 in the square brackets.

In [40]:
fruit = tree_tuple[1]
print(fruit)

apple

<br>

4. Attempt to change the value of `'apple'` in `tree_tuple` to `'pear'` using assignment.

If tuples were mutable, we would be able to assign a value to an index. However, as we can see in the error message below, **tuples do not support item assignment** because they are **immutable**. The only way to change the values in a tuple is to reassign all the values to the variable.

In [13]:
tree_tuple[1] = 'pear'

TypeError: 'tuple' object does not support item assignment

<br>

5. Create a new tuple called `text_only` and place the last two elements of `tree_tuple` into it.

Remember that the **first element** we want to include has an **index value of 1**, and as such, our index slice starts there.

An easy way to check whether we sliced correctly is by subtracting the first part of our slice from the second `(3 minus 1)`, which is equal to two elements in the new tuple.

In [41]:
# insert your code here
text_only = tree_tuple[1:3]
print(text_only)

('apple', 'Granny Smith')

In [42]:
# Another solution makes use of negative indexing, leaving the second element empty
text_only = tree_tuple[-2:]
print(text_only)

('apple', 'Granny Smith')

<br>

### Exercise 2

1. Create two tuples: `fruit_summer` and `fruit_winter`, with elements (`'peach'`, `'apricot'`, `'plum'`) and (`'lemon'`, `'orange'`, `'grapefruit'`), respectively. Print the tuples to screen in the same print statement.

We can print tuples in a single print statement to screen, and they'll be printed in the same line.

In [43]:
# assigning the elements to two tuples
fruit_summer = ('peach', 'apricot', 'plum')
fruit_winter = ('lemon', 'orange', 'grapefruit')

print(fruit_summer, fruit_winter)

('peach', 'apricot', 'plum') ('lemon', 'orange', 'grapefruit')

<br>

2. Combine these following two tuples, `fruit_summer` and `fruit_winter`, to form a new tuple, `all_fruit`. Print the new tuple to the screen.

We can concatenate tuples in Python by using the `+` sign. The order in which the tuples are summed determines the order of the elements of the combined tuple.

In [44]:
# concatenate using +
all_fruit = fruit_summer + fruit_winter

print(all_fruit)

('peach', 'apricot', 'plum', 'lemon', 'orange', 'grapefruit')

<br>

3. Confirm how many times the element `'plum'` appears in `all_fruit`.

We call the `count()` method to state which element we are interested in counting. This is a useful way to determine whether a tuple contains duplicates.

In [26]:
# use count method on all_fruit tuple
all_fruit.count('plum')

1

<br>

4. Suppose we have the `combined_info` tuple shown in the block of code below, containing three elements – the colour of the fruit, the age of the tree, and the type of tree. We'd however like to work with these elements individually and need to create variables (colour, age, tree_type) for each of the elements in the tuple.

In [29]:
# combined_info tuple
combined_info = ('yellow', 5, 'lemon')

# insert your code here
colour, age, tree_type = combined_info

By assigning a tuple directly to the variables in a single line, you can skip repeating assignments and the need to index elements individually. Note that the order determines the assignment. This functionality will be especially useful when dealing with functions.

In [46]:
print(colour, age, tree_type)

yellow 5 lemon

In [47]:
# the alternative, but longer solution
colour_index = combined_info[0]
age_index = combined_info[1]
type_index = combined_info[2]

print(colour_index, age_index, type_index)

yellow 5 lemon

<br>

## Summary

Tuples are simple data structures and are especially useful when storing a **small number of elements** that need to be accessed during the course of a program. Remember to look at the Python documentation on tuples for more information and examples!

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>